@import '../abstract/variables';

.mainquesomos {
    height: 30vh;
    width: 100%;

    background-image: url(../assets/backgroundquemsomos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    overflow: hidden;

    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .titlequemsomos {
        font-family: $font-primary;
        color: #fff;
        font-weight: 700;
        font-size: 3rem;
    }
}

.apresentationquemsomos {
    padding: 4rem 0rem;
    .containerapresentation {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        display: flex;
        align-items: center;
        gap: 100px;
        h2 {
            font-family: $font-primary;
            color: $title-blue-color;
            font-weight: 700;
            font-size: 2.3rem;
            text-align: left;
            width: 100%;
        }
        div {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
}

.threedots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5rem 0rem;
    span {
        display: block;
        background-color: rgb(212, 212, 212);
        width: 10px;
        height: 10px;
        border-radius: 99px;
    }
}

.equipe {
    padding: 3rem 0rem 5rem 0rem;
    .containerequipe {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 130px;
        .personequipe {
            display: flex;
            align-items: center;
            background-color: $title-blue-color;
            position: relative;
            padding: 1.5rem 0rem;
            width: 500px;
            img {
                position: absolute;
                left: -6%;
                height: 200px;
                
            }
            .descequipe {
                margin-left: 11rem;
                h2 {
                    color: #fff;
                    font-family: $font-primary;
                    font-weight: 700;
                }
                p {
                    color: #fff;
                    font-family: $font-primary;
                    font-weight: 500;
                }
            }
        }
    }
}

.endequipe {
    .containerendequipe {
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        img {
            height: 500px;
        }
        .textendequipe {
            h2 {
                font-family: $font-primary;
                color: $title-blue-color;
                font-size: 1.3rem;
                font-weight: 800;
                margin-bottom: 2rem;
            }
            p {
                &:last-child {
                    margin-top: .5rem;
                }
            }
        }
    }
}