* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

header .headercontainer nav .menuhamburger {
  display: none;
  cursor: pointer;
}
header .headercontainer nav .menuhamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: #055ccc;
}
header .headercontainer nav .menuhamburger.active {
  transition: 0.3s;
  z-index: 888;
}
header .headercontainer nav .menuhamburger.active .bar:nth-child(2) {
  opacity: 0;
  transition: 0.4s;
}
header .headercontainer nav .menuhamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  transition: 0.4s;
}
header .headercontainer nav .menuhamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  transition: 0.4s;
}

@media (max-width: 768px) {
  header .headercontainer nav .menu {
    display: none;
  }
  header .headercontainer nav .menuhamburger {
    display: block;
    position: relative;
    z-index: 900;
  }
  .menuhamburgercontent {
    display: none;
  }
  .menuhamburgercontent.active {
    animation: ShowingContentHamburger 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    background-color: #eeeeee;
    z-index: 800;
  }
}
@keyframes ShowingContentHamburger {
  from {
    transform: translate3d(0, -150%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
header .headercontainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
}
header .headercontainer .logoheader {
  height: 50px;
  cursor: pointer;
}
header .headercontainer nav ul {
  display: flex;
  gap: 20px;
}
header .headercontainer nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #055ccc;
}
header .headercontainer nav ul li .activemenu {
  text-decoration: underline;
}

.mainprincipal {
  height: 70vh;
  width: 100%;
  background-image: url(../assets/bgmain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  overflow: hidden;
  padding-left: 2rem;
}
.mainprincipal .containermain {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.mainprincipal .containermain h1 {
  position: absolute;
  bottom: 200px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 4rem;
  max-width: 12ch;
}
.mainprincipal .containermain h1 span {
  color: #3bd3bb;
}
.mainprincipal .containermain .parallax {
  position: absolute;
  right: 15%;
  bottom: 10%;
  width: 180px;
  transition: transform 0.2s ease;
}
.mainprincipal .containermain .otherposition {
  position: absolute;
  left: 15%;
  top: 20%;
  opacity: 0.4;
}

#backToTop {
  position: fixed;
  z-index: 999;
  bottom: 20px;
  right: 20px;
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border-radius: 999px;
  cursor: pointer;
  text-align: center;
  display: none;
}

#backToTop a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

#backToTop:hover {
  background-color: #0056b3;
}

.boutdsm {
  max-width: 1000xp;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 5rem 0rem;
}
.boutdsm .photobout {
  height: 450px;
}
.boutdsm .textabout {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
}
.boutdsm .textabout h1 {
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-size: 2.3rem;
  max-width: 26.2ch;
  font-weight: 800;
}
.boutdsm .textabout p {
  font-family: "Montserrat", sans-serif;
  max-width: 60ch;
}
.boutdsm .textabout .buttonboutdsm {
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem 1rem;
  border: 1px solid #055ccc;
  border-radius: 15px;
  max-width: 27%;
  position: relative;
  display: block;
  text-transform: uppercase;
  overflow: hidden;
  color: #000000;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}
.boutdsm .textabout .buttonboutdsm:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.3);
  background-color: #055ccc;
  transition: all 0.2s ease-out;
}
.boutdsm .textabout .buttonboutdsm:hover:before {
  animation: shine-90 0.5s 0s linear;
}
.boutdsm .textabout .buttonboutdsm:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}
.boutdsm .textabout .buttonboutdsm:before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  transform: skewX(-20deg);
}
@keyframes shine-90 {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.howcanhelp {
  background-color: aquamarine;
  padding: 6rem 0rem;
}
.howcanhelp .containerhelp {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.howcanhelp .containerhelp h2 {
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-weight: 700;
  font-size: 2.3rem;
  text-align: center;
}
.howcanhelp .containerhelp p {
  text-align: center;
  max-width: 70ch;
  font-size: 0.9rem;
  margin-top: 10px;
}
.howcanhelp .containerhelp .containerspace {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 3rem 0rem 1.5rem 0rem;
}
.howcanhelp .containerhelp .containerspace .spacehelp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.howcanhelp .containerhelp .containerspace .spacehelp img {
  height: 90px;
}
.howcanhelp .containerhelp .containerspace .spacehelp .titledesc {
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 10px;
}
.howcanhelp .containerhelp .buttondsm {
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem 1rem;
  border: 1px solid #055ccc;
  border-radius: 15px;
  max-width: 27%;
  position: relative;
  display: block;
  text-transform: uppercase;
  overflow: hidden;
  color: #000000;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}
.howcanhelp .containerhelp .buttondsm:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.3);
  background-color: #055ccc;
  transition: all 0.2s ease-out;
}
.howcanhelp .containerhelp .buttondsm:hover:before {
  animation: shine-90 0.5s 0s linear;
}
.howcanhelp .containerhelp .buttondsm:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}
.howcanhelp .containerhelp .buttondsm:before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  transform: skewX(-20deg);
}

.services {
  padding: 6rem 0rem;
}
.services .containerservices {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .containerservices h2 {
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-weight: 700;
  font-size: 2.3rem;
  text-align: center;
}
.services .containerservices p {
  text-align: center;
  max-width: 70ch;
  font-size: 0.9rem;
  margin-top: 10px;
}
.services .containerservices .containerblockservices {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 3rem;
}
.services .containerservices .containerblockservices .blockservices {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  padding: 1.2rem 1.5rem;
  border-radius: 10px;
}
.services .containerservices .containerblockservices .blockservices h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 0.8rem;
}
.services .containerservices .containerblockservices .blockservices p {
  text-align: left;
}

.callcontainer {
  width: 100%;
  height: 35vh;
  background-color: #342c5c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.callcontainer h2 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 2.3rem;
  text-align: center;
}
.callcontainer p {
  color: #fff;
  text-align: center;
  max-width: 70ch;
  font-size: 0.9rem;
  margin: 10px 0px;
}
.callcontainer .buttondsm {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem 1rem;
  border: 1px solid #055ccc;
  border-radius: 15px;
  max-width: 27%;
  position: relative;
  display: block;
  text-transform: uppercase;
  overflow: hidden;
  color: #ffffff;
  border: 2px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}
.callcontainer .buttondsm:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.3);
  background-color: #055ccc;
  transition: all 0.2s ease-out;
}
.callcontainer .buttondsm:hover:before {
  animation: shine-90 0.5s 0s linear;
}
.callcontainer .buttondsm:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}
.callcontainer .buttondsm:before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  transform: skewX(-20deg);
}
.callcontainer .photoparallax {
  display: none;
}

.partners {
  padding: 10rem 0rem;
}
.partners h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.partners .scroller {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.partners .scroller .scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 60px;
}

.scroller[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated=true] .scroller__inner {
  width: -moz-max-content;
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction=right] {
  --_animation-direction: reverse;
}

.scroller[data-speed=fast] {
  --_animation-duration: 20s;
}

.scroller[data-speed=slow] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
footer {
  background-color: #342c5c;
  padding: 5rem 0rem;
}
footer .footercontainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footercontainer .logodsm {
  height: 20%;
}
footer .footercontainer .groupfooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footercontainer .groupfooter h2 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
footer .footercontainer .groupfooter p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 0.8rem;
}
footer .footercontainer .groupfooter a {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 3px;
}

.mainquesomos {
  height: 30vh;
  width: 100%;
  background-image: url(../assets/backgroundquemsomos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  overflow: hidden;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainquesomos .titlequemsomos {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
}

.apresentationquemsomos {
  padding: 4rem 0rem;
}
.apresentationquemsomos .containerapresentation {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 100px;
}
.apresentationquemsomos .containerapresentation h2 {
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-weight: 700;
  font-size: 2.3rem;
  text-align: left;
  width: 100%;
}
.apresentationquemsomos .containerapresentation div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.threedots {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5rem 0rem;
}
.threedots span {
  display: block;
  background-color: rgb(212, 212, 212);
  width: 10px;
  height: 10px;
  border-radius: 99px;
}

.equipe {
  padding: 3rem 0rem 5rem 0rem;
}
.equipe .containerequipe {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 130px;
}
.equipe .containerequipe .personequipe {
  display: flex;
  align-items: center;
  background-color: #055ccc;
  position: relative;
  padding: 1.5rem 0rem;
  width: 500px;
}
.equipe .containerequipe .personequipe img {
  position: absolute;
  left: -6%;
  height: 200px;
}
.equipe .containerequipe .personequipe .descequipe {
  margin-left: 11rem;
}
.equipe .containerequipe .personequipe .descequipe h2 {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.equipe .containerequipe .personequipe .descequipe p {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.endequipe .containerendequipe {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.endequipe .containerendequipe img {
  height: 500px;
}
.endequipe .containerendequipe .textendequipe h2 {
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-size: 1.3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.endequipe .containerendequipe .textendequipe .lastpendequipe {
  margin-top: 10px;
}
.endequipe .containerendequipe .textendequipe .buttondsm {
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem 1rem;
  border: 1px solid #055ccc;
  border-radius: 15px;
  max-width: 29%;
  margin-top: 1rem;
  position: relative;
  display: block;
  text-transform: uppercase;
  overflow: hidden;
  color: #000000;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}
.endequipe .containerendequipe .textendequipe .buttondsm:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.3);
  background-color: #055ccc;
  transition: all 0.2s ease-out;
}
.endequipe .containerendequipe .textendequipe .buttondsm:hover:before {
  animation: shine-90 0.5s 0s linear;
}
.endequipe .containerendequipe .textendequipe .buttondsm:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}
.endequipe .containerendequipe .textendequipe .buttondsm:before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  transform: skewX(-20deg);
}

.products {
  padding: 4rem 0rem 4rem 0rem;
}
.products h1 {
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-weight: 700;
  font-size: 2.3rem;
  text-align: center;
  margin-bottom: 4rem;
}
.products .productscontainer {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.products .productscontainer .categoryproduct {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.products .productscontainer .categoryproduct .imgproduct {
  height: 500px;
}
.products .productscontainer .categoryproduct .textproduct {
  background-color: #f1f1f1;
  position: absolute;
  left: 45%;
  padding: 1.5rem 2rem;
}
.products .productscontainer .categoryproduct .textproduct .logotitleproduct {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1.5rem;
}
.products .productscontainer .categoryproduct .textproduct .logotitleproduct img {
  height: 60px;
}
.products .productscontainer .categoryproduct .textproduct .logotitleproduct h2 {
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-weight: 700;
  font-size: 2.3rem;
}
.products .productscontainer .categoryproduct .textproduct p {
  max-width: 70ch;
}

.mainservices {
  height: 30vh;
  width: 100%;
  background-image: url(../assets/backgroundquemsomos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainservices .titlequemsomos {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 3rem;
}
.mainservices p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.services .servicescontainer {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.services .servicescontainer .introservices {
  display: flex;
  align-items: center;
  gap: 50px;
}
.services .servicescontainer .introservices img {
  height: 250px;
}
.services .servicescontainer .introservices .introtextservices {
  display: flex;
  flex-direction: column;
}
.services .servicescontainer .introservices .introtextservices p {
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-size: 2rem;
  font-weight: 700;
}
.services .servicescontainer .introservices .introtextservices .buttondsm {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem 1rem;
  border: 1px solid #055ccc;
  border-radius: 15px;
  max-width: 28.4%;
  position: relative;
  display: block;
  text-transform: uppercase;
  overflow: hidden;
  color: #000000;
  border: 2px solid rgb(218, 217, 217);
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}
.services .servicescontainer .introservices .introtextservices .buttondsm:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.3);
  background-color: #055ccc;
  transition: all 0.2s ease-out;
}
.services .servicescontainer .introservices .introtextservices .buttondsm:hover:before {
  animation: shine-90 0.5s 0s linear;
}
.services .servicescontainer .introservices .introtextservices .buttondsm:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}
.services .servicescontainer .introservices .introtextservices .buttondsm:before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  transform: skewX(-20deg);
}
.services .servicescontainer .contentservice {
  margin-top: 5rem;
}
.services .servicescontainer .contentservice .titlescontent {
  display: flex;
  justify-content: space-between;
}
.services .servicescontainer .contentservice .titlescontent h2 {
  background-color: rgb(235, 235, 235);
  width: 100%;
  padding: 1rem 0rem;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}
.services .servicescontainer .contentservice .titlescontent h2:hover {
  background-color: #055ccc;
  color: #fff;
}
.services .servicescontainer .contentservice .allsectionscontent .jstabcontent {
  display: none;
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
}
.services .servicescontainer .contentservice .allsectionscontent .jstabcontent h1 {
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
}
.services .servicescontainer .contentservice .allsectionscontent .jstabcontent h1 span {
  position: relative;
}
.services .servicescontainer .contentservice .allsectionscontent .jstabcontent h1 span::before {
  content: "";
  background-color: hsla(196, 61%, 58%, 0.75);
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all 0.3s ease-in-out;
}
.services .servicescontainer .contentservice .allsectionscontent .jstabcontent h1 span:hover::before {
  bottom: 0;
  height: 100%;
}
.services .servicescontainer .contentservice .allsectionscontent .jstabcontent h2 {
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  max-width: 35ch;
}
.services .servicescontainer .contentservice .allsectionscontent .jstabcontent p {
  max-width: 70ch;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-top: 1rem;
}
.services .servicescontainer .contentservice .allsectionscontent .jstabcontent .containertabcontenttext {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(238, 238, 238);
  padding: 3rem 3rem 2rem 3rem;
  margin-top: 2rem;
}
.services .servicescontainer .contentservice .allsectionscontent .jstabcontent .containertabcontenttext .contenttabcontenttext {
  background-color: white;
  padding: 3rem 2rem;
  text-align: left;
}
.services .servicescontainer .contentservice .allsectionscontent .jstabcontent .containertabcontenttext .contenttabcontenttext .ptabcontenttext, .services .servicescontainer .contentservice .allsectionscontent .jstabcontent .containertabcontenttext .contenttabcontenttext .h3tabcontenttext {
  text-align: left;
  max-width: 100%;
  font-family: "Montserrat", sans-serif;
}
.services .servicescontainer .contentservice .allsectionscontent .jstabcontent .containertabcontenttext .contenttabcontenttext .h3tabcontenttext {
  margin: 1rem 0rem;
  font-weight: 800;
}
.services .servicescontainer .contentservice .allsectionscontent .jstabcontent .containertabcontenttext .buttontocontact {
  background-color: #055ccc;
  padding: 1.5rem 2rem;
  color: #fff;
  margin-top: 2rem;
}
.services .servicescontainer .contentservice .allsectionscontent .jstabcontent.ativo {
  display: flex;
  animation: animationText 0.6s forwards;
}

@keyframes animationText {
  from {
    transform: translate3d(0, 100px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.contact {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 3rem;
}
.contact h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 510;
  font-size: 2rem;
}
.contact .contactcontainer {
  display: flex;
  gap: 100px;
  margin-top: 2rem;
}
.contact .contactcontainer .orderinfo {
  counter-reset: list-counter;
  list-style: none;
}
.contact .contactcontainer .orderinfo li {
  max-width: 45ch;
  counter-increment: list-counter;
  margin-bottom: 10px;
}
.contact .contactcontainer .orderinfo li::before {
  content: counter(list-counter) ". ";
  font-weight: bold;
  margin-right: 5px;
}
.contact .contactcontainer .containerform {
  flex: 1;
}
.contact .contactcontainer .containerform form {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #000;
}
.contact .contactcontainer .containerform form .nameemail {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.contact .contactcontainer .containerform form .nameemail .nameform, .contact .contactcontainer .containerform form .nameemail .emailform {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact .contactcontainer .containerform form label {
  margin-bottom: 7px;
  font-family: "Montserrat", sans-serif;
}
.contact .contactcontainer .containerform form input {
  margin-bottom: 14px;
  border-radius: 4px;
  height: 40px;
  color: #000;
  width: 100%;
  padding: 15px 8px;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
}
.contact .contactcontainer .containerform form textarea {
  margin-bottom: 2rem;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  border: 0;
  padding: 8px;
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
  height: 200px;
  width: 100%;
  color: #000000;
  resize: none;
}
.contact .contactcontainer .containerform form button {
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  background-color: #055ccc;
  font-size: 1rem;
  padding: 0.9rem 0.3rem;
  width: 30%;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.contactreview {
  height: 40vh;
  background-image: url(../assets/bgcontact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 10rem 0rem 0rem 3rem;
}
.contactreview h2 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}
.contactreview .cellphone {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0.7rem;
  width: 12%;
}
.contactreview .cellphone a {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
}
.contactreview h3 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

iframe {
  margin-bottom: 3rem;
}

@media (max-width: 450px) {
  .contact {
    padding: 1.2rem;
  }
  .contact h1 {
    font-size: 1.5rem;
  }
  .contact .contactcontainer {
    flex-direction: column;
  }
  .contactreview {
    height: 100%;
    padding: 5rem 0rem 5rem 1.2rem;
  }
  .contactreview .cellphone {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .mainprincipal {
    padding-left: 1rem;
  }
  .mainprincipal .containermain h1 {
    font-size: 2rem;
    max-width: 17ch;
  }
  .mainprincipal .containermain .parallax {
    display: none;
  }
  .boutdsm {
    flex-direction: column;
    padding: 5rem 1rem;
  }
  .boutdsm .photobout {
    height: 300px;
  }
  .boutdsm .textabout h1 {
    font-size: 2rem;
    max-width: 100%;
  }
  .boutdsm .textabout p {
    text-align: justify;
  }
  .boutdsm .textabout .buttonboutdsm {
    text-align: center;
    max-width: 100%;
  }
  .howcanhelp {
    padding: 6rem 1.5rem;
  }
  .howcanhelp .containerhelp p {
    text-align: center;
  }
  .howcanhelp .containerhelp .containerspace {
    flex-direction: column;
    gap: 70px;
    margin: 3rem 1.2rem 1.5rem 1.2rem;
  }
  .howcanhelp .containerhelp .buttondsm {
    max-width: 100%;
  }
  .services {
    padding: 6rem 1.5rem;
  }
  .services .containerservices .containerblockservices {
    flex-direction: column;
  }
  .callcontainer {
    height: 45vh;
  }
  .callcontainer p {
    padding: 0rem 1.2rem;
  }
  .callcontainer .buttondsm {
    max-width: 100%;
  }
  footer {
    padding: 5rem 1.4rem;
  }
  footer .footercontainer {
    gap: 70px;
  }
}
@media (max-width: 450px) {
  .products {
    padding: 2rem 0rem;
  }
  .products .productscontainer .categoryproduct {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .products .productscontainer .categoryproduct .imgproduct {
    margin-bottom: 12rem;
    height: 300px;
  }
  .products .productscontainer .categoryproduct .textproduct {
    left: 0;
    padding: 1rem;
  }
  .products .productscontainer .categoryproduct .textproduct p {
    max-width: 100%;
  }
}
@media (max-width: 450px) {
  .mainquesomos .titlequemsomos {
    font-size: 2rem;
  }
  .apresentationquemsomos {
    padding: 4rem 1.5rem;
  }
  .apresentationquemsomos .containerapresentation {
    flex-direction: column;
    gap: 40px;
  }
  .equipe {
    padding: 3rem 1.2rem 3rem 1.2rem;
  }
  .equipe .containerequipe {
    grid-template-columns: 1fr;
    row-gap: 70px;
  }
  .equipe .containerequipe .personequipe {
    margin-left: 1.2rem;
    width: 300px;
  }
  .equipe .containerequipe .personequipe img {
    left: -14%;
    height: 150px;
  }
  .equipe .containerequipe .personequipe .descequipe {
    margin-left: 8.2rem;
  }
  .endequipe {
    padding: 0rem 1.2rem;
  }
  .endequipe .containerendequipe {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .endequipe .containerendequipe img {
    height: 400px;
  }
  .endequipe .containerendequipe .textendequipe .buttondsm {
    max-width: 100%;
    text-align: center;
  }
}
@media (max-width: 450px) {
  .services .servicescontainer .introservices {
    flex-direction: column;
  }
  .services .servicescontainer .introservices .introtextservices {
    flex-direction: column;
  }
  .services .servicescontainer .introservices .introtextservices p {
    font-size: 1.7rem;
  }
  .services .servicescontainer .introservices .introtextservices .buttondsm {
    max-width: 100%;
    text-align: center;
  }
  .services .servicescontainer .contentservice .titlescontent {
    flex-wrap: wrap;
  }
  .services .servicescontainer .contentservice .allsectionscontent .jstabcontent h1 {
    margin-bottom: 1rem;
  }
  .services .servicescontainer .contentservice .allsectionscontent .jstabcontent h1 span::before {
    display: none;
  }
  .services .servicescontainer .contentservice .allsectionscontent .jstabcontent h2 {
    max-width: 100%;
  }
  .services .servicescontainer .contentservice .allsectionscontent .jstabcontent p {
    max-width: 100%;
  }
  .services .servicescontainer .contentservice .allsectionscontent .jstabcontent .containertabcontenttext {
    padding: 1rem;
  }
  .services .servicescontainer .contentservice .allsectionscontent .jstabcontent .containertabcontenttext .contenttabcontenttext {
    padding: 3rem 2rem;
  }
  .services .servicescontainer .contentservice .allsectionscontent .jstabcontent .containertabcontenttext .buttontocontact {
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */