* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  scroll-behavior: smooth;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

header .headercontainer nav .menuhamburger {
  display: none;
  cursor: pointer;
}
header .headercontainer nav .menuhamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3 ease-in-out;
  background-color: #055ccc;
}

@media (max-width: 768px) {
  header .headercontainer nav .menu {
    display: none;
  }
  header .headercontainer nav .menuhamburger {
    display: block;
  }
}
header .headercontainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
}
header .headercontainer .logoheader {
  height: 50px;
}
header .headercontainer nav ul {
  display: flex;
  gap: 20px;
}
header .headercontainer nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #055ccc;
}

main {
  height: 70vh;
  width: 100%;
  background-image: url(../assets/bgmain.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}
main .containermain {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
main .containermain h1 {
  position: absolute;
  bottom: 200px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 4rem;
  max-width: 12ch;
}
main .containermain h1 span {
  color: #3bd3bb;
}

.boutdsm {
  max-width: 1000xp;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 5rem 0rem;
}
.boutdsm .photobout {
  height: 450px;
}
.boutdsm .textabout {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
}
.boutdsm .textabout h1 {
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-size: 2.3rem;
  max-width: 26.2ch;
  font-weight: 800;
}
.boutdsm .textabout p {
  font-family: "Montserrat", sans-serif;
  max-width: 60ch;
}
.boutdsm .textabout .buttonboutdsm {
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem 1rem;
  border: 1px solid #055ccc;
  border-radius: 15px;
  max-width: 27%;
  position: relative;
  display: block;
  text-transform: uppercase;
  overflow: hidden;
  color: #000000;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}
.boutdsm .textabout .buttonboutdsm:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.3);
  background-color: #055ccc;
  transition: all 0.2s ease-out;
}
.boutdsm .textabout .buttonboutdsm:hover:before {
  animation: shine-90 0.5s 0s linear;
}
.boutdsm .textabout .buttonboutdsm:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}
.boutdsm .textabout .buttonboutdsm:before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  transform: skewX(-20deg);
}
@keyframes shine-90 {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.howcanhelp {
  background-color: aquamarine;
  padding: 6rem 0rem;
}
.howcanhelp .containerhelp {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.howcanhelp .containerhelp h2 {
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-weight: 700;
  font-size: 2.3rem;
  text-align: center;
}
.howcanhelp .containerhelp p {
  text-align: center;
  max-width: 70ch;
  font-size: 0.9rem;
  margin-top: 10px;
}
.howcanhelp .containerhelp .containerspace {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin: 3rem 0rem 1.5rem 0rem;
}
.howcanhelp .containerhelp .containerspace .spacehelp {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.howcanhelp .containerhelp .containerspace .spacehelp img {
  height: 90px;
}
.howcanhelp .containerhelp .containerspace .spacehelp .titledesc {
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 10px;
}
.howcanhelp .containerhelp .buttondsm {
  font-family: "Montserrat", sans-serif;
  padding: 1.5rem 1rem;
  border: 1px solid #055ccc;
  border-radius: 15px;
  max-width: 27%;
  position: relative;
  display: block;
  text-transform: uppercase;
  overflow: hidden;
  color: #000000;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}
.howcanhelp .containerhelp .buttondsm:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 0 30px 0 rgba(0, 199, 236, 0.3);
  background-color: #055ccc;
  transition: all 0.2s ease-out;
}
.howcanhelp .containerhelp .buttondsm:hover:before {
  animation: shine-90 0.5s 0s linear;
}
.howcanhelp .containerhelp .buttondsm:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}
.howcanhelp .containerhelp .buttondsm:before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  transform: skewX(-20deg);
}

.services {
  padding: 6rem 0rem;
}
.services .containerservices {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .containerservices h2 {
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-weight: 700;
  font-size: 2.3rem;
  text-align: center;
}
.services .containerservices p {
  text-align: center;
  max-width: 70ch;
  font-size: 0.9rem;
  margin-top: 10px;
}
.services .containerservices .containerblockservices {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 3rem;
}
.services .containerservices .containerblockservices .blockservices {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  padding: 1.2rem 1.5rem;
  border-radius: 10px;
}
.services .containerservices .containerblockservices .blockservices h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 0.8rem;
}
.services .containerservices .containerblockservices .blockservices p {
  text-align: left;
}

.partners {
  padding: 10rem 0rem;
}
.partners h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #055ccc;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 3rem;
}
.partners .scroller {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.partners .scroller .scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 60px;
}

.scroller[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated=true] .scroller__inner {
  width: -moz-max-content;
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction=right] {
  --_animation-direction: reverse;
}

.scroller[data-speed=fast] {
  --_animation-duration: 20s;
}

.scroller[data-speed=slow] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
footer {
  background-color: #342c5c;
  padding: 5rem 0rem;
}
footer .footercontainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footercontainer .logodsm {
  height: 20%;
}
footer .footercontainer .groupfooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footercontainer .groupfooter h2 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
footer .footercontainer .groupfooter p {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 0.8rem;
}
footer .footercontainer .groupfooter a {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 3px;
}/*# sourceMappingURL=styles.css.map */